
* {
	font-family: sans-serif;
	box-sizing: border-box;
}


.navbar-brand {
	font-family: 
}

.mission-title {
	font-size: 60px;
	padding-top: 140px;
}

.mission-text {
	font-size: 30px;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 100px;
}

.mission {
	color: white;
	margin: 0px auto;
	width: 100%;
	background: url(https://dumsld4by7gdn.cloudfront.net/assets/backgrounds/about-main-4592d05f63d029bc507a249853a99997f10a27bcf2162fe0a78ec1ed2f233d28.jpg) no-repeat center center fixed;
	background-size: cover;
}

.founding-team {
	background-color: #FAFAFB;
}

.team-title {
	font-size: 48px;
	text-align: left;
}

.team-text {
	font-size: 18px;
	padding-top: 50px;
}


.founding-team {
	padding: 40px;
}

.team-pic {
	border-radius: 50%;
}

.team-main-title {
	font-size: 48px;
	font-weight: lighter;
	text-align: center;
	padding-bottom: 30px;
}

.team img {
	border-radius: 50%;
	height: 200px;
	width: 200px;
}

.team > div {
	padding: 70px;
}

.team p {
	text-align: center;
}

.team {
	padding-top: 80px;
	padding-bottom: 100px;
	background-color: white;
	text-align: center;
}

.statistics-title {
	font-size: 48px;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}




.video {
	background-color: white;
	padding-top: 50px;
	font-size: 48px;
	text-align: center;
}




.contact {
	background-color: white;
}
