*{
	box-sizing: border-box;
	font-family: 'Raleway';
}

.maintitle {
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 15px;
	color: #FF190D;
}

.nav {
	background-color: rgba(255, 162, 13, .5);
	color: #FF190D;
}

.user {
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 20px;

}

.info {
	padding-left: 20px;
	font-size: 20px;
	padding-top: 30px;
}

.choose {
	padding-left: 20px;
	font-size: 16px;
}

li {
	list-style-type: none;
	padding-top: 10px;
}

.btn {
	padding-top: 10px;
}

label {
	padding-bottom: 15px;
}


.stuff {
	padding-left: 5px;
}

.first {
	padding-top: 30px;
}
