<div class="container-fluid">
	<div class="row">
		<div class="header">
			<h1 class="col-xs-10">
				<div class="title">
					CHOMMIES!
				</div>
			</h1>
				<button class="button"><a ng-href="#/me/stephanie"> My Chommie Profile :) </a></button>
		</div>
	</div>
	
	<div ng-show="errorMessage" class="alert alert-danger"> {{errorMessage}} </div>

	<div ng-class="{'isDisabled': isSending}">
	
		<select ng-model="selectedBru" ng-options="b.id as b.first_name for b in brus" class="menu"></select>

		<input ng-model="newPropsValue">

		<button ng-click="sendProps(selectedBru, newPropsValue)"> Send Props </button>

	</div>

	<div class="row">	
		<div class="col-xs-6">
			<div class="props">
				<div ng-repeat="p in props">
					<h3>{{p.receiver.first_name}} {{p.receiver.last_name}}</h3>
					<p>Message: {{p.text}}</p>
				</div>
			</div>
		</div>
		<div class="col-xs-offset-1 col-xs-4">
			<div class="img">
				<img src="http://4.bp.blogspot.com/-bt_F7l_O3SU/Uy_4HMIxqyI/AAAAAAAAmeg/bImdrJF1APw/s1600/lets_be_chommies_full.jpg"/>
			</div>
		</div>
	</div>




<!-- 	<div class="row">	
		<div class="col-xs-6">
			<div ng-repeat="b in brus">
				<h3>{{b.first_name}} {{b.last_name}}</h3>
			</div>
		</div>
	</div>
 -->

</div>

