* {
	box-sizing: border-box;
}

.big-container {
	margin: 0px auto; 
	width: 90%;
}

.title {
	color: #B22222; 
	font-family: Orbitron;
	padding-top: 30px;
	padding-bottom: 30px;

}

.button {
	border-radius: 10%;
	color: #B22222;
	font-family: Orbitron;
	background-color: white;
	border: solid #B22222;
}
