.lightbox {
    /* this should not be on the screen to start*/

}

.lightbox-bg {
    /* this should cover the entire screen with a transparent black background */
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.lightbox-contents {
    /* this should center the image on the screen on top of the background*/
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.isVisible {
    /* this does exactly what it sounds like it does */
    
}

.red {
    color: red;
}