*{
	box-sizing: border-box;
}

.button {
	border-radius: 5%;
	background-color: rgba(271, 271, 271, .5);
	color: black;
	margin-top: 30px;
}

.header {
	background-color: rgba(0,0,0,.3);
	padding-bottom: 30px;

}

.title {
	color: white;
}

.menu {
	width: 150px;
}

body {
	background: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQinNeggXGY4uzggk5TfjDAsG9HBcjsjCyFbE3fBjPQAdFy-1uFMQ) no-repeat center center fixed;
	background-size: cover;
}

.props {
	color: white;
}

img {
	border-radius: 10%;
}

.my_props {
	font-size: 20px;
	padding-top: 20px;
}

.secondphoto {
	width: 580px;
	height: 380px;
}